manifest {
	  homePage = 'https://github.com/MarioWassmer/strucIdent.git'
	  description = 'Structural variant calling pipeline for Oxford Nanopore Technologies (ONT) long read data.'
	  mainScript = 'main.nf'
	  author = 'Mario A. Waßmer'
	  name = 'strucIdent'
	  nextflowVersion = '>=19.07.0'
	  version = '0.1 November 2019'
}

params {
	help = false
	version = false
}

// Include base configuration
includeConfig 'conf/base.config'

profiles {

	conda {
		process.conda = "env/lr-pipeline.yml"
	}

	test {
		includeConfig 'conf/test.config'
	}
	run {
		includeConfig 'conf/run.config'
	}
}

timeline {
	enabled = true
	file = "${params.outDir}/timeline.html"
}


report {
	enabled = true
	file = "${params.outDir}/report.html"
}


dag {
	enabled = true
	file = "${params.outDir}/executionDAG.svg"
}
