/*
===============================================================================================
				Config file for default parameters
===============================================================================================
*/

params {
        // All default parameter settings
        aligner = "minimap2"
        genome = false
        reads = false
        bam = false
        outDir = "results"
        publishSam = false
        skipSniffles = false
        skipSvim = false

        // Parameter settings for SVIM and SNIFFLES
        snifflesNoGenotype = false
        snifflesNoCluster = false
        snifflesMinSupport = false
        svimNoInsSequences = false
        svimNoSequenceAlleles = false
}

process {
  cpus = 12

  withName: createBam {
    cpus = 4
  }

}
