params {
  outDir = "CombinedFull"
  genome = "/mnt/SRV018/users/ahwassm1/Masterthesis/data/human/human_hs37d5.fasta"
  reads = "/mnt/SRV018/users/ahwassm1/Masterthesis/data/human/HG002_NA24385_son/download/reads/ultra-long-ont.fastq.gz"
  bam = "ultra-long-ont_minimap2_alignment.bam"
}

process {
  cpus = 30

  withName: createBam {
    cpus = 4
  }
}

workDir = "/tmp/ahwassm1/tmp"
