params {
  outDir = "Test"
  genome = "/mnt/SRV018/users/ahwassm1/Masterthesis/data/cfnih1/genome/reference_genome.fasta"
  reads = "/mnt/SRV018/users/ahwassm1/Masterthesis/data/cfnih1/nanopore/28_P_CW_nano.fastq.gz"
  skipNanoStat = true
}

process {
  cpus = 30

  withName: createBam {
    cpus = 4
  }
}

workDir = "/tmp/ahwassm1/test"
